.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(var(--color-dark-brown));
  z-index: 100;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.logo img {
  height: 50px;
  width: auto;
  cursor: pointer;
}

.nav {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.nav .links {
  color: rgb(var(--color-white));
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
  padding: 8px 14px;
  transition: all 0.3s ease;
  display: inline-block;
  text-transform: uppercase;
}

.nav .links:hover {
  color: rgb(var(--color-black));
  background-color: rgb(var(--color-white));
}

.nav :global(.active) {
  color: rgb(var(--color-black));
  background-color: rgb(var(--color-white));
}

.menu_iocn {
  display: none;
}

/* ===================== Responsive ===================== */
@media (max-width: 950px) {
  .wrapper {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }

  .menu_iocn {
    display: block;
    color: white;
  }

  .nav {
    flex-direction: column;
    width: 100%;
    gap: 0;
    display: none;
  }

  .nav.show {
    display: flex;
  }

  .nav .links {
    width: 100%;
    text-align: left;
    padding: 10px 0;
  }
}
